<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPD Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="navbar">
            <h2>My Story</h2>
            <h2>Gallery</h2> 
            <h2>Pricing</h2>
            <h2>FAQ</h2>
        <img src="{% static 'SPD Logo 1 1.png' %}" alt="Logo">
        <button><a href="/custinfo" style="text-decoration: none; color: white;">Order Now</button></a>
    </div>
    <div id="maincontent" style="background-image: url('/static/homepage.jpg'); height: 900px;">
        <h1>Perfectly</br> Personalized</h1>
        <button><a href="/custinfo" style="text-decoration: none; color: white;">Order Now</button></a>
    </div>
    <div id="occasions">
        <h1>Cookies & Cupcakes</br> for Every Occasion</h1>
        <div id="wordoccasions">
            <h2>Birthdays</h2>
            <h2>Graduations</h2>
            <h2>Baby Showers</h2>
            <h2 style="margin-right: 0px;">Weddings</h2>
        </div>
    </br>
        <img src="{% static 'birthday.jpeg' %}" alt="Birthdays">
        <img src="{% static 'grad.jpeg' %}" alt="Grad Parties">
        <img src="{% static 'baby.jpeg' %}" alt="Baby Shower">
        <img src="{% static 'wedding.jpeg' %}" alt="Weddings">
    </div>
    <div id="works">
        <h1>How it Works</h1>
        <div id="select">
            <img src="{% static 'select.png' %}" alt="">
            <h2>Select</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem libero, ut, architecto possimus adipisci omnis quam corrupti ipsam ab cupiditate officia molestias alias praesentium fugiat aliquam numquam enim commodi labore?</p>
        </div>
        <div id="describe">
            <img src="{% static 'describe.png' %}" alt="">
            <h2>Describe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem libero, ut, architecto possimus adipisci omnis quam corrupti ipsam ab cupiditate officia molestias alias praesentium fugiat aliquam numquam enim commodi labore?</p>
        </div>
        <div id="enjoy">
            <img src="{% static 'enjoy.png' %}" alt="">
            <h2>Enjoy</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem libero, ut, architecto possimus adipisci omnis quam corrupti ipsam ab cupiditate officia molestias alias praesentium fugiat aliquam numquam enim commodi labore?</p>
        </div>
    </div>
    <div id="picline">
        <img src="{% static 'nurse.jpg' %}" alt="">
        <img src="{% static 'getwell.jpg' %}" alt="">
        <img src="{% static '80.jpg' %}" alt="">
    </div>
    <div id="reviews">
        <div id="r1">
            <img src="{% static 'quotes.png' %}" alt="">
        <h2>Sweet Petite cookies are second to none! The delicious fresh taste complimented by the outstanding artistic designs on the cookies make them the best around. Can't wait to buy more!</h2>
        <h3>- Chris Ackett</h3>
        </div>
        <div id="r2">
            <img src="{% static 'quotes.png' %}" alt="">
        <h2>Best Cookies I have ever eaten. Will definetly be ordering more in the near future.</h2>
        <h3>- Michael Erickson</h3>
        </div>
        <div id="r3">
            <img src="{% static 'quotes.png' %}" alt="">
        <h2>The designs on the cookies are incredible. They wildly exceeded my expectations and not only were they beautiful, they tasted suberb as well. A must buy!</h2>
        <h3>- Tim Smith</h3>
        </div>
    </div>
    <div id="creations">
        <h1>My Latest Creations</h1>
        <img src="{% static 'birthday.jpeg' %}" alt="Birthdays">
        <img src="{% static 'grad.jpeg' %}" alt="Grad Parties">
        <img src="{% static 'baby.jpeg' %}" alt="Baby Shower">
        <img src="{% static 'wedding.jpeg' %}" alt="Weddings">
    </div>
    <div id="footer">
        <img src="{% static 'SPD Logo 1 1.png' %}" alt="" id="footer_logo"></br>
        <a href="" id="ordernow">Order Now</a>
        <a href="">My Story</a>
        <a href="">Gallery</a>
        <a href="">Menu % Pricing</a>
        <a href="">FAQ</a>
        <a href="">Refund Policy</a>
        <a href="">Terms & Conditions</a>
        <div id="social">
            <img src="{% static 'instagram.png' %}" id="insta" alt="">
            <img src="{% static 'facebook.png' %}" id="fb" alt="">
        </div>
        <div id="contactinfo">
            <div id="phone">
                <img src="{% static 'phone.png' %}" alt="">
                <p>616-780-5771</p>
            </div>
            <div id="email">
                <img src="{% static 'email.png' %}" alt="">
                <p>sweetpetitedes@gmail.com</p>
            </div>
        </div>
        <p>Sweet Petite Design 2021</p>
    </div>
</body>
</html>