form{
    text-align: center;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

button{
    background-color: #143880;
    border-radius: 10px;
    font-size: 20px;
    border: #143880;
    padding: 1%;
    color: white;
}