*{
    font-family: 'Kiwi Maru', serif;
}

#center{
    text-align: center;
}

@media screen and (max-width: 480px){
    #center{
        text-align: center;
        position: relative;
        bottom: 50px;
    }
}

#top > p{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

#top >h1{
    color: #143880
}

#top{
    width: 80%;
    margin-left: 10%;
}

#img{
padding-left:10%;
}

#dozen{
    width: 5%;
}

