*{
    font-family: 'Kiwi Maru', serif;
}
#navbar > h2{
    display: inline-block;
    width: 10%;
    text-align: center;
    vertical-align: top;
    padding-bottom: 5%;
    
}

/* @media screen and (max-width: 992px) */


#navbar > h2 > a{
    text-decoration: none;
    color: #143880;
    font-size: 16px;
}



#navbar > a > img{
    display: inline-block;
    width: 10%;
    background-color: white;
    margin-left: 3%;
    border: white 2px solid;
    border-radius: 40px;
    position: relative;
    top: 8px;
    z-index: 1;
    padding: 1.2%;
}


@media screen and (max-width: 834px){
    #navbar > a > img{
        display: inline-block;
        width: 10%;
        background-color: white;
        margin-left: 3%;
        border: white 2px solid;
        z-index: 1;
        padding: 2%;
        border-radius: 0%;
        position: relative;
        top: 0%;
        bottom: 13px;

    }
    }

#navbar > button{
    float: right;
    background-color: #143880;
    border-radius: 5px;
    margin-right: 3%;
    margin-top: 1%;
    font-size: 16px;
    border: #143880;
    padding: .5%;
    height: 36px;
    width: 90px;
    vertical-align: top;
}
}

@media screen and (max-width: 834px){
    #maincontent > a > button{
        background-color: #143880;
        border-radius: 10px;
        font-size: 20px;
        border: #143880;
        padding: 1%;
        position: relative;
        top: 35%;
        right: 28%;
        width: 196px;
        height: 56px;
        color: white;
        z-index: 3;
    }    
}


#maincontent > a > button{
    background-color: #143880;
    border-radius: 10px;
    font-size: 20px;
    border: #143880;
    padding: 1%;
    position: relative;
    top: 35%;
    right: 28%;
    width: 196px;
    height: 56px;
    color: white;
}

#maincontent{
    position: relative;
    bottom: 65px;
    height: 744px; 
    width: 1440px;
    background-image: url('/static/pics/Hero Image.png'); 
    max-width: 100%;
}

@media screen and (max-width: 834px){
    #maincontent{
    background-image: url('/static/pics/Hero Image(1).png'); 
    max-width: 100%;
    z-index: 2;
    height: 1019px;
    margin-top: 10px;
    }
}

#maincontent > h1{
    position: relative;
    top: 20%;
    text-align: center;
    font-size: 75px;
    /* margin-left: 5%; */
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin-left: 30%;
}

@media screen and (max-width: 834px){
    #maincontent > h1{
        position: relative;
        top: 20%;
        text-align: center;
        font-size: 75px;
       
        color: white;
        display: inline-block;
        padding: 10px;
        border-radius: 20px;
        margin-left: 15%;
    }
}

#occasions > h1{
    text-align: center;
    margin-top: 100px;
    font-size: 48px;
    color: #143880;
    margin-bottom: 48px;
}

#occasions > div > img{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 30px;
    
}
#occasions > div{
display: inline-block;
width: 20%;
margin-left: 2%;
margin-right: 2%;

}

#occasions > div > h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

#more{
    text-align: center;
    
}

#more > a > button{
    border-radius: 10px;
    border: 2px #143880 solid;
    box-sizing: border-box;
    height:56px;
    width: 196px;
    background-color: white;
    margin-top: 48px;
}

#works > h1{
    text-align: center;
    margin-top: 5%;
    font-size: 48px;
    color: #143880;
}

#works > div{
    width: 20%;
    height: 30%;
    display: inline-block;
    /* background-color: #EEEEEE; */
    text-align: center;
    padding: 1%;
    vertical-align: top;
}

#works > div > img{
    width: 50%;
}

#works > #select{
    margin-left: 11%;
    margin-right: 5%;
}

#works > #describe{
    margin-right: 5%;
}



#picline > img{
    margin-top: 5%;
    width: 100%;
}

#reviews > div{
    margin-top: 3%;
    width: 20%;
    display: inline-block;
    padding: 2%;
    text-align: center;
    vertical-align: top;
    height: 420px;
    border-radius: 30px;
}

#reviews > div > img{
    position: relative;
    bottom: 10%;
}

#reviews > div > h2{
    font-size: 24px;
    position: relative;
    bottom: 20%;
    
}

#reviews > #r1{
    margin-left: 10%;
    margin-right: 5%;
    background-color: #F3EBF9;
}

#reviews > #r2{
    margin-right: 5%;
    background-color: #E5EBF0;
}

#reviews > #r3{
    background-color: #FBFBE5;
}

#creations > h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}
#creations > img{
    width: 20%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
}

#footer{
    background-color: #143880;
    margin-top: 5%;
}

#footer > #footer_logo{
    margin-left: 45.5%;
    background-color: white;
    border-radius: 100%;
    position: relative;
    bottom: 50px;
    width: 10%;
}

#footer > a{
    padding: 3px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

#footer > #ordernow{
    padding-left: 2%;
}

#footer > #social > #insta{
    margin-left: 90%;
    padding-right: 1%;
}

#footer > #social{
    display: inline-block;
    width:95%;
}

#footer > #social > img{
    width: 50px;
    display: inline-block;
}

#phone > img{
    width: 30px;
    display: inline-block;
}

#phone > p{
    display: inline-block;
}

/* #contactinfo{
    display: inline-block;
} */

#contactinfo > div{
    display: inline-block;
    margin-top: 1%;
    padding-left: 1%;
}

#contactinfo > div > p{
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

#contactinfo > div > img{
    position: relative;
    top: 10px;
}

#email > img{
    width: 30px;
    display: inline-block;
}

#email > p{
    display: inline-block;
    /* vertical-align: top; */

}

#footer > p{
    text-align: center;
    padding-bottom: 1%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}