#menuheading > h2{
    text-align: center;
    margin-top: 3%;
    font-size: 48pt;
}
#cookies, #cupcakes, #mini{
    text-align: center;
    display: inline-block;
    width: 20%;
    background-color: #EEEEEE;
    height: 30%;
    margin-top: 1%;
}
div > img{
    width: 50%;
}

#cookies{
    margin-left: 15%;
    margin-right: 5%;
}

#cupcakes{
    margin-right: 5%;
}

#menuorder > button{
    margin-left: 46.5%;
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 5px;
    margin-right: 3%;
    margin-top: 2%;
    font-size: 20px;
    border: black 2px solid;
    padding: .5%;
}

