{% extends "base.html" %}
    {% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    </head>
    <h1>Birthday Pictures</h1>
    <div id="pics">
        <img src="{% static 'pics/birthday.jpeg' %}" alt="">
        <img src="{% static 'pics/40th bday party.png' %}" alt="">
        <img src="{% static 'pics/2 Legit 2 Quit.png' %}" alt="">
        <img src="{% static 'pics/sambday.jpg' %}" alt="">
        <img src="{% static 'pics/bday1.jpg' %}" alt="">
        <img src="{% static 'pics/bday2.jpg' %}" alt="">
        <img src="{% static 'pics/bday3.jpg' %}" alt="">
        <img src="{% static 'pics/bday5.jpg' %}" alt="">
        <img src="{% static 'pics/bday4.jpg' %}" alt="">
        <img src="{% static 'pics/80.jpg' %}" alt="">
        <img src="{% static 'pics/bday7.jpg' %}" alt="">
        <img src="{% static 'pics/bday6.jpg' %}" alt="">
    </div>
    <a href="/cookie_select"><button id="button">Order Now!</button></a>
    
    {% endblock %}
</body>
</html>