{% extends "base.html" %}
    {% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    </head>
    <h1>Celebration Pictures</h1>
    <div id="pics">
        <img src="{% static 'pics/cele1.jpg' %}" alt="">
        <img src="{% static 'pics/cele2.jpg' %}" alt="">
        <img src="{% static 'pics/cele3.jpg' %}" alt="">
        <img src="{% static 'pics/cele4.jpg' %}" alt="">
        <img src="{% static 'pics/cele5.jpg' %}" alt="">
        <img src="{% static 'pics/cele6.jpg' %}" alt="">
        <img src="{% static 'pics/cele7.jpg' %}" alt="">
        <img src="{% static 'pics/cele8.jpg' %}" alt="">
        <img src="{% static 'pics/cele9.jpg' %}" alt="">
        <img src="{% static 'pics/cele10.jpg' %}" alt="">
        <img src="{% static 'pics/cele11.jpg' %}" alt="">
        <img src="{% static 'pics/cele12.jpg' %}" alt="">
    </div>
    <a href="/cookie_select"><button id="button">Order Now!</button></a>
    {% endblock %}
</body>
</html>