{% extends "base.html" %}
    {% block content %} 
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/orderform.css' %}">
    </head>
    <div id="center">
        <div id="top">
            <h1>Your Order</h1>
        <p>Fill out this order form below and I will get in contact with you (typically within one business day) to confirm your order.
        <br>Please Note: Your order is not complete until I contact you for confirmation. </p>
        </div>
        
    <form action="https://getform.io/f/4af6843a-9a83-4913-94e3-7343455acbf5" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="contactinfo">
        <h2>Contact Information</h2>
        <p>Name: <input type="text" name="name" id="first_name"></p>
        <p>Email: <input type="email" name="email" id="email"></p>
        <p>Phone Number: <input type="tel" id="phone" name="phone" placeholder="123-456-7890"></p>
        <p>Todays Date: <input type="date" name="dateordered" id="date"></p>
    </div>
    <div id="goods">
        <h2>Select Your Baked Good</h2>
        <select name="baked_goods" id="baked_goods">
            <option value="" disabled selected>Select your Baked Good</option>
            <option value="cookies">Custom Sugar Cookies</option>
            <option value="cupcakes">Cupcakes</option>
            <option value="mini_cupcakes">Mini Cupcakes</option>
        </select>
    <br>
        <h2>What is the occasion?</h2>
        <textarea name="occasion" id="" cols="40" rows="5"></textarea>
        <h2>When do you need them by?</h2>
            <input type="date" name="date_needed" id="date">
        <h2>Quantity?</h2>
        <p>Minimum order of 1 dozen. Cookies must be ordered by the dozen (expections can be made for larger orders).</p>
            <input type="number" name="dozen" id="dozen" style="height: 50px; width: 50px; font-size: 30px;">
        <br>
        <h2>How Much Help Would You Like?</h2>
        <p>Deciding on a cookie design can be difficult. I'm here to help if you would like it!</p>
            <input type="radio" name="nohelp" id="nohelp">I know what I want!
            <br>
            <input type="radio" name="somehelp" id="somehelp">I have a good idea, but could use some help.
            <br>
            <input type="radio" name="allhelp" id="allhelp">I have no idea. I'd love a lot of help.
        <h2>Design Details</h2>
            <textarea name="design" id="design" cols="40" rows="10" placeholder="Please let us know what design you are looking for. If you are not sure, we can work with you to create your vision."></textarea>
        <h2>Upload Your Image</h2>
        <p>Have an image that would help describe your vision? Upload it here!</p>
            <!-- <label for="img">Select image:</label> -->
            <input type="file" id="img" name="img" accept="image/*">
    </div>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>  
    {% endblock %}
</body>
</html>