{% extends "base.html" %}
    {% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    </head>
    <div id="faqheading">
        <h2 style="text-decoration: underline;">Frequently Asked Question's</h2>
    </div>
    <!-- <div id="faqpicture">
        <img src="{% static 'nurse.jpg' %}" alt="">
        <img src="{% static 'getwell.jpg' %}" alt="">
        <img src="{% static '80.jpg' %}" alt="">
        <img src="{% static '80.jpg' %}" alt="">
        <img src="{% static '80.jpg' %}" alt="">
    </div> -->
    <div id="questions">
        <h2>How Do I Order?</h2>
        <h3>Click on <a href="/cookie_select">ORDER</a> button above and fill out the custom order form.<br> After recieving your inquiry, we will contact you with confirmation of order.</h3>
        <h2>I filled out the form, now what?</h2>
        <h3>After filling out the form, we will check our schedule, make sure we can fulfill the order.<br> We will then get back to you within one to two business days with confirmation and pricing.</h3>
        <h2>How much notice do I need to give for ordering cookies?</h2>
        <h3>We ask for at least two weeks notice for all custom orders. This gives us time to design and make the cookies exactly how you want them. <br>Orders made less than two weeks can be accomodated if there is still availability, however the more time the better.</h3>
        <h2>How Much Do Your Cookies Cost?</h2>
        <h3>Please check our <a href="/menu">MENU</a> page for pricing.<br>After you fill out the form, we will respond with your full quote in the confirmation email.</h3>
        <h2>Have more questions? Please feel free to <a href="/contact">CONTACT US</a>.</h2>
    </div>
    {% endblock %}
</body>
</html>