{% extends "base.html" %}
    {% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    </head>
    <div id="holidaycontent">
        <h1>Holiday Pictures</h1>
    <div id="pics">
        <img src="{% static 'pics/holiday1.jpg' %}" alt="">
        <img src="{% static 'pics/holiday9.jpg' %}" alt="">
        <img src="{% static 'pics/holiday3.jpg' %}" alt="">
        <img src="{% static 'pics/holiday4.jpg' %}" alt="">
        <img src="{% static 'pics/holiday10.jpg' %}" alt="">
        <img src="{% static 'pics/holiday7.jpg' %}" alt="">
        <img src="{% static 'pics/holiday12.jpg' %}" alt="">
        <img src="{% static 'pics/holiday8.jpg' %}" alt="">
        <img src="{% static 'pics/holiday2.jpg' %}" alt="">
        <img src="{% static 'pics/holiday5.jpg' %}" alt="">
        <img src="{% static 'pics/holiday11.jpg' %}" alt="">
        <img src="{% static 'pics/holiday6.jpg' %}" alt="">
        
        
    </div>
    <a href="/cookie_select"><button id="button">Order Now!</button></a>
    </div>
    
    {% endblock %}
</body>
</html>